#navbar .logo{
    float:none;
    text-align:center;
}

#navbar ul ,#navbar ul li{
    float: none;
}

#navbar ul li a{
    padding:5px;
    border-bottom:1px solid white;
}

/*Home Info */

#home-info{
    height:450px;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float:none;
    width:100%;
}

/*  Box styling */
.box{
    float:none;
    width:100%;
}

/* About */
#about-info .info-right,#about-info .info-left{
    float: none;
    width: 100%;
}
.l-heading{
    text-align: center;
    line-height:4rem;
}

/* Contact */

#contact-info .box{
    border-bottom"#444 dotted 1px;
}

#contact-info h1,p{
    text-align: center;
}